{dump}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} | {/ifset}SmartFridge</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$basePath}/css/style.css" rel="stylesheet">
</head>
<body>

	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>

	<div class="container-fluid">
		<div class="headline"><a n:href="Default:homepage"><i class="fa fa-home"></i> smartFridge</a></div>
		{include content}
	</div>

	{block scripts}
	    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/js/bootstrap.min.js"></script>
	{/block}
</body>
</html>
