{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro notifications-active"><a n:href="Notification:list"><i class="fa fa-bell-o"></i><br> upozornění</a></div>
        <div class="light-notifications-heading">
            Máte {$countNoti}
            {if $countNoti == 1}nové{elseif $countNoti > 1 && $countNoti < 5}nová{else}nových{/if}
            upozornění.
        </div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="notifications-all">
            {if $countAllNoti == 0}
                <div class="none">
                    Nenalezeny žádné upozornění.
                </div>
            {/if}
            {foreach $notificationsActive as $n}
                <div class="one-notification" style="background: #D1D8FF;">
                    <div class="row">
                        <div class="col-xs-12">
                            {if $n->getTyp() == 'zmena_ceny'}
                                <a class="text-success" n:href="Products:view, 'id' => $n->getProduktId()">
                                    {$n->getProdukt()->getNazev()} bylo zlevněno na
                                    <strong>{$n->getCena()} Kč</strong>
                                </a>
                            {elseif $n->getTyp() == 'trvanlivost'}
                                <a n:href="Fridge:list" class="
                                    {if $n->getPocetDni() >= 5}
                                        text-info
                                    {elseif $n->getPocetDni() < 5 && $n->getPocetDni() > 3}
                                        text-warning
                                    {else}
                                        text-danger
                                    {/if}
                                    ">
                                    Vašemu produktu <strong>{$n->getProdukt()->getNazev()}</strong>
                                    skončí trvanlivost za <strong>{$n->getPocetDni()}</strong> dny.
                                </a>
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
            {foreach $notificationsNonActive as $n}
                <div class="one-notification">
                    <div class="row">
                        <div class="col-xs-12">
                            {if $n->getTyp() == 'zmena_ceny'}
                                <a class="text-success" n:href="Products:view, 'id' => $n->getProduktId()">
                                    {$n->getProdukt()->getNazev()} bylo zlevněno na
                                    <strong>{$n->getCena()} Kč</strong>
                                </a>
                            {elseif $n->getTyp() == 'trvanlivost'}
                                <a n:href="Fridge:list" class="
                                    {if $n->getPocetDni() >= 5}
                                        text-info
                                    {elseif $n->getPocetDni() < 5 && $n->getPocetDni() > 3}
                                        text-warning
                                    {else}
                                        text-danger
                                    {/if}
                                    ">
                                    Vašemu produktu <strong>{$n->getProdukt()->getNazev()}</strong>
                                    skončí trvanlivost za <strong>{$n->getPocetDni()}</strong> dny.
                                </a>
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>