{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro shopcart-active"><a n:href="Cart:default"><i class="fa fa-shopping-basket"></i> <br> košík</a></div>
        <a class="shopcart-light shopcart-a" n:href="deleteAll!">Smazat celý košík</a>
        <div class="light-shopcart-heading">Celková cena: {$totalPrice}&nbsp;Kč</div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="shopcart-all">
            {if count($shop) == 0}
                <div class="none">
                    Nenalezeny žádné položky v košíku.
                </div>
            {/if}
            <div class="one-shopcart" n:foreach="$shop as $s">
                <div class="row">
                    <div class="col-xs-3 center"><a n:href="Products:view, 'id' => $s->getZbozi()->getProduktId()"><img class="photo" src="{$basePath}\img\{$s->getZbozi()->getProdukt()->getFotka()}"/></a></div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-12 one-shopcart-headline">
                                <a class="shopcart-view" n:href="Products:view, 'id' => $s->getZbozi()->getProduktId()">
                                    {$s->getZbozi()->getProdukt()->getNazev()|noescape|striptags}
                                </a>
                            </div>
                            <div class="col-xs-6">Počet: <strong>{$s->getPocet()}&nbsp;Ks</strong></div>
                            <div class="col-xs-6">Trvanlivost: <strong>{$s->getZbozi()->getTrvanlivost()|date: 'd. m. Y'}</strong></div>
                            <div class="col-xs-6">Cena za 1ks: <strong>{$s->getZbozi()->getCena()}&nbsp;Kč</strong></div>
                            <div class="col-xs-6"><a class="btn btn-danger" n:href="Cart:delete, 'id' => $s->getId()">Vymazat z košíku</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>