{block content}

<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro shopcart-active"><a n:href="Cart:default"><i class="fa fa-shopping-basket"></i> <br> košík</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="shopcart-all">
            <div class="none">
                Opravdu chcete smazat zboží {$shop->getZbozi()->getProdukt()->getNazev()} z košíku ?
                <a class="btn btn-danger" n:href="deleteFromCart!, $shop->getId()">Smazat</a>
            </div>
        </div>
    </div>
</div>