{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:filter"><i class="fa fa-sliders"></i> <br> nový produkt do filtru</a></div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="recipes-all">
            {form filterForm}
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label products}</h4>
                        {input products}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input submit}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
