{block content}

<script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=u3eaf4vulq3b092xiz9xg0bsp3imnaaa7cgwow95bwbh13hw"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "lists"
        ],
        toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist"
    });
</script>

<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> nová recenze</a></div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="recipes-all">
            {form addReviewForm}
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label textRecenze}</h4>
                        {input textRecenze}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label pocetHvezdicek}</h4>
                        {input pocetHvezdicek}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label soubor}</h4>
                        {input soubor}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input receptID, 'value' => $id}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input uzivatelID, 'value' => $user->getId()}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input submit}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
