{block content}


<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> recepty</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="recipes-all">
            <div class="none">
                Opravdu chcete smazat recept  {$recipe->getNazev()} ?
                <a class="btn btn-danger" n:href="delete!, $recipe->getId()">Smazat</a>
            </div>
        </div>
    </div>
</div>