{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> editace ingredience</a></div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="recipes-all">
            {form editIngredienceForm}
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label mnozstvi}</h4>
                        {input mnozstvi}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label jednotkaID}</h4>
                        {input jednotkaID}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label produktID}</h4>
                        {input produktID}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label kategorieID}</h4>
                        {input kategorieID}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input receptID, 'value' => $id}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input id}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input submit}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
