{block content}

<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> recepty</a></div>
        <div class="default-metro recipes-light"><a n:href="Recipes:filter"><i class="fa fa-sliders"></i> <br> filtr</a></div>
        <a class="recipes-light recipes-a" n:href="Recipes:addFilter">Přidat produkt do filtru</a>
        <a class="recipes-light recipes-a" n:href="resetFilter!">Resetovat filtr</a>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="recipes-all">
            <div class="one-recipe none" style="min-height: 0px;">
                Filtr slouží pouze k vyhledávání receptů podle potravin v lednici nebo Vámi vybraných produktů.
                <br>
                Indikátor počtu chybějících potravin na stránce s vyhledáváním se řídí podle nastaveného filtru,
                ale v detailu receptu se ukazuje jestli máte nebo nemáte potravinu přímo v lednici.
                <br>
                <br>
                Filtr se automaticky resetuje po zavření prohlížeče nebo můžete použít tlačítko Resetovat filtr.
                <br>
                <strong>Výchozí hodnota pro resetování je obsah Vaší lednice.</strong>
            </div>
            {if $countProducts == 0}
                <div class="none">
                    Nenalezeny žádné produkty ve filtru.
                </div>
            {/if}
            {if $products}
                <div class="one-recipe" style="min-height: 0px;" n:foreach="$products as $p">
                    <div class="row">
                        <div class="col-xs-6 one-product-headline" style="margin-bottom: 0px;"><a class="product-view" n:href="Products:view, 'id' => $p->getId()">{$p->getNazev()|noescape|striptags}</a></div>
                        <div class="col-xs-6 text-right"><a class="btn btn-danger" n:href="deleteFromFilter!, 'id' => $p->getId()">Odstranit z filtru</a></div>
                    </div>
                </div>
            {/if}
        </div>
    </div>
</div>