{* Vypíše seznam všech receptů v systému. *}
{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> recepty</a></div>

        {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
            <a class="recipes-light recipes-a" n:href="Recipes:add">Přidat recept</a>
        {/if}

        {if !($user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec')}
            <div class="default-metro recipes-light"><a n:href="Recipes:filter"><i class="fa fa-sliders"></i> <br> filtr</a></div>
            <div class="light-recipes-heading">Našli jsme {$countRecipes} {if $countRecipes == 1}recept{elseif $countRecipes > 1 && $countRecipes < 5}recepty{else}receptů.{/if}</div>
        {/if}
    </div>
    {dump $recipes}
    <div class="col-sm-4 col-md-6">
        <div class="recipes-all">
            {if $countRecipes == 0}
                <div class="none">
                    Nenalezeny žádné recepty.
                </div>
            {/if}
            <div class="one-recipe" n:foreach="$recipes as $r">
                <div class="row">
                    <div class="col-xs-3"><img {if !$r->getFotka()}style="width: 100%;"{/if} class="photo" src="{$basePath}\img\{$r->getFotka()}"/></div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-12 one-recipe-headline">
                                <a class="recipes-view" n:href="Recipes:view, 'id' => $r->getId()">
                                    {$r->getNazev()|noescape|striptags}
                                </a>
                            </div>
                            <div class="col-xs-6 col-sm-4"><i class="fa fa-hourglass-o"></i>{$r->getPribliznyCas()}</div>
                            <div class="col-xs-6 col-sm-4"><i class="fa fa-long-arrow-up"></i>{if $r->getSlozitost() == "zacatecnik"}začátečník{elseif $r->getSlozitost() == "pokrocily"}pokročilý{else}{$r->getSlozitost()}{/if}</div>
                            <div class="col-xs-6 col-sm-4"><span class="color-recipe">{$r->getPocetPorci()}</span> {if $r->getPocetPorci() >= 1 && $r->getPocetPorci() < 5} porce{else}porcí{/if}</div>
                            <div class="col-xs-12"></div>
                            <div class="col-xs-6"></div>
                            <div class="col-xs-6 padding-none right">
                                {foreach $r->getRecenzes() as $c}
                                    {var $averageStar += $c->getPocetHvezdicek()}
                                {/foreach}
                                {if count($r->getRecenzes()) != 0}
                                    {var $countStars = floor($averageStar / count($r->getRecenzes()))}
                                {else}
                                    {var $countStars = 0}
                                {/if}
                                {if $countStars == 0}
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {elseif $countStars == 1}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {elseif $countStars == 2}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {elseif $countStars == 3}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                {elseif $countStars == 4}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                {elseif $countStars == 5}
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                {/if}
                                {if count($r->getRecenzes()) != 0}
                                    {$averageStar / count($r->getRecenzes())|number:1:'.':' '}
                                {else}
                                    0
                                {/if}
                                {var $averageStar = 0}
                            </div>

                            <div class="col-xs-12 buttons">
                                {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                    <a class="btn btn-primary" n:href="Recipes:edit, 'id' => $r->getId()">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" n:href="Recipes:delete, 'id' => $r->getId()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {/if}
                            </div>

                            <div class="col-xs-12">
                                {if !($user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec')}
                                    {if $countMissingIngredience[$r->getId()] == 0}
                                        <span class="">Pro tento recept máte všechny potraviny z filtru.</span>
                                    {else}
                                        <span class="text-danger">
                                            <strong>Pro tento recept Vám chybí {$countMissingIngredience[$r->getId()]}
                                                {if $countMissingIngredience[$r->getId()] == 1}
                                                    potravina
                                                {elseif $countMissingIngredience[$r->getId()] > 1 && $countMissingIngredience[$r->getId()] < 4}
                                                    potraviny
                                                {else}
                                                    potravin.
                                                {/if}
                                                z vybraného filtru.
                                            </strong>
                                        </span>
                                    {/if}
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
