{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro recipes-active"><a n:href="Recipes:list"><i class="fa fa-book"></i> <br> recept</a></div>

        {if $user->isLoggedIn() && ($user->getRoles()[0] == 'zamestnanec' || $user->getRoles()[0] == 'uzivatel')}
            <a class="recipes-light recipes-a" n:href="Recipes:addReview, 'id' => $recipe->getId()">Přidat recenzi</a>
        {/if}

        {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
            <a class="recipes-light recipes-a" n:href="Recipes:addIngredience, 'id' => $recipe->getId()">Přidat ingredienci</a>
        {/if}

    </div>
    <div class="col-sm-4 col-md-6">
        <div class="recipes-all">
            <div class="one-recipe">
                <div class="row">
                    <div class="col-sm-3">
                        <img {if !$recipe->getFotka()}style="width: 100%;"{/if} class="photo" src="{$basePath}\img\{$recipe->getFotka()}"/>

                        <div class="buttons">
                            {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                <a class="btn btn-primary" n:href="Recipes:edit, 'id' => $recipe->getId()">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-danger" n:href="Recipes:delete, 'id' => $recipe->getId()">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {/if}
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 one-recipe-headline">
                                <a class="recipes-view" n:href="Recipes:view, 'id' => $recipe->getId()">{$recipe->getNazev()|noescape|striptags}</a>
                            </div>
                            <div class="col-xs-6 col-sm-4"><i class="fa fa-hourglass-o"></i>{$recipe->getPribliznyCas()}</div>
                            <div class="col-xs-6 col-sm-4"><i class="fa fa-long-arrow-up"></i>{if $recipe->getSlozitost() == "zacatecnik"}začátečník{elseif $recipe->getSlozitost() == "pokrocily"}pokročilý{else}{$recipe->getSlozitost()}{/if}</div>
                            <div class="col-xs-6 col-sm-4"><span class="color-recipe">{$recipe->getPocetPorci()}</span> {if $recipe->getPocetPorci() >= 1 && $recipe->getPocetPorci() < 5} porce{else}porcí{/if}</div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Ingredience</h4>
                            </div>
                            <div class="col-xs-12">
                                <ul style="list-style: none;">
                                    <li n:foreach="$ingredience as $i">
                                        {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                            <a n:href="Recipes:editIngredience, $recipe->getId(), 'iid' => $i->getId()" class="text-success">Editovat</a>
                                            / <a n:href="deleteIngredience!, $recipe->getId(), 'iid' => $i->getId()" class="text-danger">Smazat</a>
                                            -
                                        {/if}
                                        {if $user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel'}
                                            {if isset($isInFridge[$i->getProduktId()])}
                                                <i class="fa fa-check text-success"></i>
                                            {else}
                                                <span style="width: 18px;" class="fa fa-remove text-danger"></span>
                                            {/if}
                                        {/if}
                                        {$i->getMnozstvi()}&nbsp;{$i->getJednotka()->getNazev()}
                                        &nbsp;-&nbsp;
                                        {if $i->getProduktId() != NULL}
                                            <a n:href="Products:view, $i->getProduktId()">
                                                {$i->getProdukt()->getNazev()}
                                            </a>
                                        {else}
                                            <a n:href="Products:list, $i->getKategorieId()">
                                                {$i->getKategorie()->getNazev()}
                                            </a>
                                        {/if}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                            <div class="col-xs-12">
                                <h4>Postup</h4>
                            </div>
                            <div class="col-xs-12">
                                {$recipe->getPostup()|noescape}
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 padding-none right">
                                        Celkové hodnocení:
                                        {foreach $recipe->getRecenzes() as $c}
                                            {var $averageStar += $c->getPocetHvezdicek()}
                                        {/foreach}
                                        {if count($recipe->getRecenzes()) != 0}
                                            {var $countStars = floor($averageStar / count($recipe->getRecenzes()))}
                                        {else}
                                            {var $countStars = 0}
                                        {/if}
                                        {if $countStars == 0}
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {elseif $countStars == 1}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {elseif $countStars == 2}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {elseif $countStars == 3}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        {elseif $countStars == 4}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        {elseif $countStars == 5}
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        {/if}
                                        {if count($recipe->getRecenzes()) != 0}
                                            {$averageStar / count($recipe->getRecenzes())|number:1:'.':' '}
                                        {else}
                                            0
                                        {/if}
                                        {var $averageStar = 0}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                            {if $CntReviews != 0}
                                <div class="col-xs-12 one-recipe-headline">
                                    Recenze
                                </div>
                            {/if}
                            <div class="col-xs-12">
                                {foreach $reviews as $z}
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img {if !$z->getSoubor()}style="width: 100%;"{/if} class="photo" src="{$basePath}\img\{$z->getSoubor()}"/>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="row">

                                                <div class="col-xs-12">{$z->getTextRecenze()|noescape}</div>
                                                <div class="col-xs-12 buttons">
                                                    {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                                        <a class="btn btn-danger" n:href="deleteReview!, 'id' => $recipe->getId(), 'rid' => $z->getId()">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    {/if}
                                                </div>
                                                <div class="col-xs-12 padding-none right">
                                                    {if $z->getPocetHvezdicek() == 0}
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    {elseif $z->getPocetHvezdicek() == 1}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    {elseif $z->getPocetHvezdicek() == 2}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    {elseif $z->getPocetHvezdicek() == 3}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    {elseif $z->getPocetHvezdicek() == 4}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    {elseif $z->getPocetHvezdicek() == 5}
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    {/if}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-xs-12">
                                            <hr>
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>