{block content}
<div class="row">
    <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">

        <div class="row">
            {if !($user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec')}
                <div class="col-xs-6 col-sm-4">
                    <div class="default-metro notification">
                        <a n:href="Notification:list"><i class="fa fa-bell-o"></i> <br> upozornění
                            <span n:if="($user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel')" class="notification-count">&nbsp;{$countNotif}&nbsp;</span>
                        </a>
                    </div>
                </div>
            {/if}
            <div class="col-xs-6 col-sm-4">
                <div class="default-metro recipes">
                    <a n:href="Recipes:list"><i class="fa fa-book"></i> <br> recepty
                        <span n:if="($user->isLoggedIn() && $user->getRoles()[0] != 'uzivatel')" class="recipes-count">&nbsp;{$countRecipes}&nbsp;</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="default-metro product">
                    <a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> produkty
                        <span n:if="($user->isLoggedIn() && $user->getRoles()[0] != 'uzivatel')" class="product-count">&nbsp;{$countProduct}&nbsp;</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <div class="default-metro user">
                    <a n:href="User:default"><i class="fa fa-child"></i> <br> uživatel</a>
                </div>
            </div>
            {if !($user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec')}
                <div class="col-xs-6 col-sm-4">
                    <div class="default-metro fridge">
                        <a n:href="Fridge:list"><i class="fa fa-lightbulb-o"></i> <br> lednice
                            <span n:if="($user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel')" class="fridge-count">&nbsp;{$countFridge}&nbsp;</span>
                        </a>
                    </div>
                </div>
            {/if}
            {if !($user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec')}
                <div class="col-xs-6 col-sm-4">
                    <div class="default-metro shopcart">
                        <a n:href="Cart:default"><i class="fa fa-shopping-basket"></i> <br> košík
                            <span n:if="($user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel')" class="cart-count">&nbsp;{$countCart}&nbsp;</span>
                        </a>
                    </div>
                </div>
            {/if}
        </div>

    </div>
</div>