{block content}


<div class="row">
    <div class="col-sm-offset-2 col-md-offset-3 col-sm-8 col-md-6">
        <div class="user-all" style="border-color: #5cb85c;">
            <div class="row" n:if="0">
                <div class="col-xs-6">
                    <a n:href="logInAsUser!" class="btn btn-success">Přihlásit se jako uživatel</a>
                </div>
                <div n:if="0" class="col-xs-6">
                    <a n:href="logInAsEmployer!" class="btn btn-danger">Přihlásit se jako zaměstnanec</a>
                </div>
            </div>
            <div class="row form-login">
                {form loginForm}
                    <div class="col-md-offset-3 col-md-6">
                        {input prezdivka}
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        {input heslo}
                    </div>
                    <div class="col-md-offset-3 col-md-6">
                        {input login}
                    </div>
                {/form}
            </div>
        </div>
    </div>
</div>