{block content}

<script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=u3eaf4vulq3b092xiz9xg0bsp3imnaaa7cgwow95bwbh13hw"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "lists"
        ],
        toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist"
    });
</script>

<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> nový produkt</a></div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="products-all">
            {form editForm}
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label nazev}</h4>
                        {input nazev}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label fotka}</h4>
                        {input fotka}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label popis}</h4>
                        {input popis}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label kategorieID}</h4>
                        {input kategorieID}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label mnozstvi}</h4>
                        {input mnozstvi}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label jednotkaID}</h4>
                        {input jednotkaID}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input id}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input submit}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
