{block content}


<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> zboží</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="products-all">
            <div class="none">
                Opravdu chcete smazat zboží k produktu {$produkt->getNazev()} s cenou {$zbozi->getCena()} Kč ?
                <a class="btn btn-danger" n:href="deleteProperty!, $produkt->getId(), $zbozi->getId()">Smazat</a>
            </div>
        </div>
    </div>
</div>