{block content}


<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> produkt</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="products-all">
            <div class="none">
                Opravdu chcete smazat produkt  {$produkt->getNazev()} ?
                <a class="btn btn-danger" n:href="delete!, $produkt->getId()">Smazat</a>
            </div>
        </div>
    </div>
</div>