{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> editace zboží</a></div>
    </div>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="products-all">
            {form editPropertyForm}
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <h3>Zboží k produktu: {$product->getNazev()}</h3>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label cena}</h4>
                        {input cena}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label pocet}</h4>
                        {input pocet}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <h4>{label trvanlivost}</h4>
                        {input trvanlivost}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input produktID, 'value' => $product->getId()}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input id}
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        {input submit}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>
