{* Vypíše seznam všech produktů v systému. *}
{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">

        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> produkty</a></div>

        {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
            <a class="product-light category-a" n:href="Products:add">Přidat produkt</a>
        {/if}

        <div class="default-metro product-light">{if $category != NULL}<a n:href="Products:list, 'id' => $category->getKategorieId()">{else} <a n:href="Products:list">{/if}<i class="fa fa-tags"></i> <br> {if $category == null}kategorie{else}{$category->getNazev()}{/if}</a></div>
        <div class="light-product-heading">Našli jsme {$countProducts} {if $countProducts == 1}produkt{elseif $countProducts > 1 && $countProducts < 5}produkty{else}produktů.{/if}</div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="row">
            <div class="col-md-2 category" n:foreach="$categories as $c">
                <a class="product-light category-a" n:href="Products:list, 'id' => $c->getId()">{$c->getNazev()}</a>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6">
        <div class="products-all">
            {if $countProducts == 0}
                <div class="none">
                    Nenalezeny žádné produkty.
                </div>
            {/if}
            <div class="one-product" n:foreach="$products as $p">
                <div class="row">
                    <div class="col-sm-3 center"><a n:href="Products:view, 'id' => $p->getId()"><img {if !$p->getFotka()}style="width: 100%;"{/if} class="photo" src="{$basePath}\img\{$p->getFotka()}"/></a></div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 one-product-headline"><a class="product-view" n:href="Products:view, 'id' => $p->getId()">{$p->getNazev()|noescape|striptags}</a></div>
                            {if $p->getKategorieId() != NULL}
                            <div class="col-xs-12"><a class="color-product" n:href="Products:list, 'id' => $p->getKategorie()->getId()">{$p->getKategorie()->getNazev()}</a></div>
                            {/if}
                            <div class="col-xs-6 buttons">
                                {if $user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel'}
                                    <a class="btn btn-success" n:href="addToCart!, 'pid' => $p->getId()">
                                        <i class="fa fa-shopping-basket"></i>
                                    </a>
                                    <a class="btn btn-warning" n:href="addToFridge!, 'pid' => $p->getId()">
                                        <i class="fa fa-lightbulb-o"></i>
                                    </a>
                                    <a class="btn btn-primary" n:href="addWatchdog!, 'pid' => $p->getId()">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {/if}

                                {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                    <a class="btn btn-primary" n:href="Products:edit, 'id' => $p->getId()">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" n:href="Products:delete, 'id' => $p->getId()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {/if}
                            </div>

                            <div class="col-xs-6 product-price">
                                {if $p->getPrice($p->getId())}
                                    od {$p->getPrice($p->getId())}&nbsp;Kč
                                {else}
                                    <span class="text-danger">Zboží momentálně není dostupné.</span>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

