{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro products-active"><a n:href="Products:list"><i class="fa fa-lemon-o"></i> <br> produkt</a></div>

        {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
            <a class="product-light category-a" n:href="Products:addProperty, 'pid' => $product->getId()">Přidat zboží</a>
        {/if}

    </div>
    <div class="col-sm-4 col-md-6">
        <div class="products-all">
            <div class="one-product">
                <div class="row">
                    <div class="col-sm-3 center">
                        <img {if !$product->getFotka()}style="width: 100%;"{/if} class="photo" src="{$basePath}\img\{$product->getFotka()}"/>

                        <div class="buttons">
                            {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}

                                <a class="btn btn-primary" n:href="Products:edit, 'id' => $product->getId()">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-danger" n:href="Products:delete, 'id' => $product->getId()">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {/if}
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 one-product-headline">
                                <a class="product-view" n:href="Products:view, 'id' => $product->getId()">{$product->getNazev()|noescape|striptags}</a>
                            </div>
                            {if $product->getKategorieId() != NULL}
                                <div class="col-xs-12">
                                    <a class="color-product" n:href="Products:list, 'id' => $product->getKategorie()->getId()">{$product->getKategorie()->getNazev()}</a>
                                </div>
                            {/if}
                            <div class="col-xs-12">
                                <hr>
                            </div>
                            <div class="col-xs-12">
                                {$product->getPopis()|noescape}
                            </div>

                            <div class="col-xs-12 product-price">
                                {if $product->getPrice($product->getId())}
                                    od {$product->getPrice($product->getId())}&nbsp;Kč
                                {else}
                                    <span class="text-danger">Zboží momentálně není dostupné.</span>
                                {/if}
                            </div>
                            {if $user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel'}
                                <div class="col-xs-12 buttons">
                                    <a class="btn btn-primary" n:href="addWatchdog!, 'pid' => $product->getId()"><i class="fa fa-eye"></i> Sledovat Cenu</a>
                                </div>
                            {/if}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                        {if $product->getPrice($product->getId())}
                            <div class="col-xs-12 one-recipe-headline">
                                Zboží ke koupi
                            </div>
                        {/if}
                        <div class="row" n:foreach="$property as $z">
                            <div class="col-xs-6">Trvanlivost: {$z->getTrvanlivost()|date: 'd. m. Y.'}</div>
                            <div class="col-xs-6 product-price">{$z->getCena()}&nbsp;Kč</div>
                            {if $user->isLoggedIn() && $user->getRoles()[0] == 'uzivatel'}
                                <div class="col-xs-12 buttons">
                                    <a class="btn btn-success" n:href="addToCart!, 'pid' => $product->getId(), 'zid' => $z->getId()"><i class="fa fa-shopping-basket"></i> Přidat do košíku</a>
                                    <a class="btn btn-warning" n:href="addToFridge!, 'pid' => $product->getId(), 'zid' => $z->getId()"><i class="fa fa-lightbulb-o"></i> Přidat do lednice</a>
                                </div>
                            {/if}
                            {if $user->isLoggedIn() && $user->getRoles()[0] == 'zamestnanec'}
                                <div class="col-xs-6 buttons">
                                    <a class="btn btn-primary" n:href="Products:editProperty, 'pid' => $product->getId(), 'zid' => $z->getId()">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger" n:href="Products:deleteProperty, 'pid' => $product->getId(), 'zid' => $z->getId()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            {/if}
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>