{block content}

<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro fridge-active"><a n:href="Fridge:list"><i class="fa fa-lightbulb-o"></i> <br> lednice</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="fridge-all">
            <div class="none">
                Opravdu chcete smazat potravinu {$food->getProdukt()->getNazev()} z lednice ?
                <a class="btn btn-danger" n:href="deleteFromFridge!, $food->getId()">Smazat</a>
            </div>
        </div>
    </div>
</div>