{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro fridge-active"><a n:href="Fridge:list"><i class="fa fa-lightbulb-o"></i> <br> lednice</a></div>
        <div class="light-fridge-heading">Našli jsme {$countFood} {if $countFood == 1}potravinu{elseif $countFood > 1 && $countFood < 5}potraviny{else}potravin.{/if}</div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="fridge-all">
            {if $countFood == 0}
                <div class="none">
                    Nenalezeny žádné potraviny v lednici.
                </div>
            {/if}
            <div class="one-fridge" n:foreach="$foods as $f">
                <div class="row">
                    <div class="col-xs-3 center"><a n:href="Products:view, 'id' => $f->getProduktId()"><img class="photo" src="{$basePath}\..\img\{$f->getProdukt()->getFotka()}"/></a></div>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-12 one-fridge-headline">
                                <a class="fridge-view" n:href="Products:view, 'id' => $f->getProduktID()">
                                    {$f->getProdukt()->getNazev()}
                                </a>
                            </div>
                            <div class="col-xs-6">Počet: {$f->getPocet()}&nbsp;ks</div>
                            <div class="col-xs-6">Spotřebovat do: {$f->getSpotrebovatDo()|date: 'd. m. Y'}</div>
                            <div n:if="0" class="col-xs-6">Trvanlivost: {$f->getTrvanlivostDo()} dny</div>
                            <div class="col-xs-6"><a class="btn btn-danger" n:href="Fridge:delete, 'id' => $f->getId()">Vymazat z lednice</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>