{block content}
<div class="row">
    <div class="col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-2">
        <div class="default-metro user-active"><a n:href="User:default"><i class="fa fa-child"></i> <br> uživatel</a></div>
    </div>
    <div class="col-sm-4 col-md-6">
        <div class="user-all">
            <div class="one-user">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 one-user-headline">
                                {$uzivatel->getJmeno()}&nbsp;{$uzivatel->getPrijmeni()}
                            </div>
                            <div class="col-xs-offset-6 col-xs-6"><a class="btn btn-danger" n:href="logOut!">Odhlásit se</a></div>

                            {if $watchdog->getData()}
                                <div class="col-xs-12">
                                    <hr>
                                    <h3>Sledované položky</h3>
                                </div>
                                <div class="col-xs-12">
                                    <div n:foreach="$watchdog as $w" class="row">
                                        <div class="col-xs-12">&nbsp;</div>
                                        <div class="col-xs-6"><a n:href="Products:view, $w->getProduktId()">{$w->getProdukt()->getNazev()}</a></div>
                                        <div class="col-xs-6"><a class="btn btn-danger" n:href="deleteWatchdog!, $w->getId()">Přestat sledovat</a></div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>