body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    background: #fff;
}

hr {
    border: 1px solid #D9D9D9;
}

input, textarea, select {
    border-radius: 0px !important;
}

.btn {border: none !important;}

.headline {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: #4b5160 !important;
    text-decoration: none;
}
.headline a {
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color: #4b5160 !important;
    text-decoration: none;
}
.default-metro {
    width: auto;
    min-height: 150px;
    font-size: 22px;
    background: #7ca1ff;
    color: #fff !important;
    margin-top: 30px;
    text-align: center;
}
.default-metro > a {
    display: block;
    width: 100%;
    min-height: 150px;
    padding: 15px;
    color: #fff !important;
    text-decoration: none;
}
.default-metro i {font-size: 100px;}
.center {text-align: center;}
.photo {
    width: auto;
    max-width: 100%;
    min-height: 80px;
    background: #a7a7a7;
}
.none {padding: 15px; color: #5e5e5e;}
.default-metro .notification-count,
.default-metro .recipes-count,
.default-metro .product-count,
.default-metro .fridge-count,
.default-metro .cart-count{
    background: #7ca1ff;
}

.recipes:hover, .recipes:active, .recipes:focus, .recipes-active,
.recipes:hover .recipes-count, .recipes:active .recipes-count, .recipes:focus .recipes-count
{
    background: #660090;
}
.recipes-all {
    border: 5px solid #660090;
    width: 100%;
    margin-top: 30px;
}
.one-recipe {
    min-height: 100px;
    padding: 10px;
    border-bottom: 3px solid #660090;
    color: #5e5e5e;
}
.one-recipe:last-child {
    border-bottom: none;
}
.one-recipe i {
    color: #660090;
    padding-right: 5px;
    font-weight: bold;
}
.color-recipe {color: #660090; font-weight: bold;}
.one-recipe-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.recipes-light {
    background: #a17cbd;
}
.light-recipes-heading {
    color: #a17cbd;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.recipes-a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.recipes-a:hover, .recipes-a:focus, .recipes-a:active {
    background: #660090;
    color: #fff;
    text-decoration: none;
}

.fridge:hover, .fridge:active, .fridge:focus, .fridge-active,
.fridge:hover .fridge-count, .fridge:active .fridge-count, .fridge:focus .fridge-count{
    background: #18d16b;
}
.fridge-all {
    border: 5px solid #18d16b;
    width: 100%;
    margin-top: 30px;
}
.one-fridge {
    min-height: 100px;
    padding: 10px;
    border-bottom: 3px solid #5e5e5e;
    color: #5e5e5e;
}
.one-fridge:last-child {
    border-bottom: none;
}
.one-fridge i {
    color: #18d16b;
    padding-right: 5px;
    font-weight: bold;
}
.color-fridge {color: #18d16b; font-weight: bold;}
.one-fridge-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.fridge-light {
    background: #18d16b;
}
.light-fridge-heading {
    color: #18d16b;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.user:hover, .user:active, .user:focus, .user-active {
    background: #6c0000;
}
.user-all {
    border: 5px solid #6c0000;
    width: 100%;
    margin-top: 30px;
}
.one-user {
    min-height: 100px;
    padding: 10px;
    border-bottom: 3px solid #6c0000;
    color: #5e5e5e;
}
.one-user:last-child {
    border-bottom: none;
}
.one-user i {
    color: #6c0000;
    padding-right: 5px;
    font-weight: bold;
}
.color-user {color: #6c0000; font-weight: bold;}
.one-user-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.user-light {
    background: #9E0000;
}
.light-user-heading {
    color: #9E0000;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.product:hover, .product:active, .product:focus, .products-active,
.product:hover .product-count, .product:active .product-count, .product:focus .product-count {
    background: #d4c330;
}
.products-all {
    border: 5px solid #d4c330;
    width: 100%;
    margin-top: 30px;
}
.one-product {
    min-height: 100px;
    padding: 10px;
    border-bottom: 3px solid #d4c330;
    color: #5e5e5e;
}
.one-product:last-child {
    border-bottom: none;
}
.one-product i {
    color: #d4c330;
    padding-right: 5px;
    font-weight: bold;
}
.color-product {color: #DDD05A; font-weight: bold;}
a.color-product:hover, a.color-product:focus, a.color-product:active {text-decoration: none; color: #d4c330;}
.one-product-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.product-light {
    background: #DDD05A;
}
.light-product-heading {
    color: #DDD05A;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.category {
    margin-top: 30px;
}
.category-a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.category-a:hover, .category-a:focus, .category-a:active {
    background: #d4c330;
    color: #fff;
    text-decoration: none;
}

.product-price {color: #1A7E1E; font-size: 15px; text-align: right;}
.product-view, .recipes-view, .fridge-view, .shopcart-view {text-decoration: none; color: #000; }
.product-view:hover, .product-view:focus, .product-view:active {text-decoration: none; color: #9D9020; }
.recipes-view:hover, .recipes-view:focus, .recipes-view:active {text-decoration: none; color: #660090; }
.fridge-view:hover, .fridge-view:focus, .fridge-view:active {text-decoration: none; color: #18d16b; }
.shopcart-view:hover, .shopcart-view:focus, .shopcart-view:active {text-decoration: none; color: #fcab36; }
.buttons > a {margin-left: 5px; margin-top: 5px; color: #fff !important;}
.buttons > a > i {color: #fff !important; padding: 0px;}

.notification:hover, .notification:active, .notification:focus, .notifications-active,
.notification:hover .notification-count, .notification:active .notification-count, .notification:focus .notification-count {
    background: #006c5b;
}
.notifications-all {
    border: 5px solid #006c5b;
    width: 100%;
    margin-top: 30px;
}
.one-notification {
    min-height: 50px;
    padding: 10px;
    border-bottom: 3px solid #006c5b;
    color: #5e5e5e;
}
.one-notification:last-child {
    border-bottom: none;
}
.one-notification i {
    color: #006c5b;
    padding-right: 5px;
    font-weight: bold;
}
.color-notification {color: #006c5b; font-weight: bold;}
.one-notification-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}
.notifications-light {
    background: #009E86;
}
.light-notifications-heading {
    color: #009E86;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.shopcart:hover, .shopcart:active, .shopcart:focus, .shopcart-active,
.shopcart:hover .cart-count, .shopcart:active .cart-count, .shopcart:focus .cart-count {
    background: #fcab36;
}
.shopcart-all {
    border: 5px solid #fcab36;
    width: 100%;
    margin-top: 30px;
}
.one-shopcart {
    min-height: 100px;
    padding: 10px;
    border-bottom: 3px solid #fcab36;
    color: #5e5e5e;
}
.one-shopcart:last-child {
    border-bottom: none;
}
.one-shopcart i {
    color: #fcab36;
    padding-right: 5px;
    font-weight: bold;
}
.color-shopcart {color: #fcab36; font-weight: bold;}
.one-shopcart-headline {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.shopcart-light {
    background: #FDBF68;
}
.light-shopcart-heading {
    color: #FDBF68;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.shopcart-a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.shopcart-a:hover, .shopcart-a:focus, .shopcart-a:active {
    background: #fcab36;
    color: #fff;
    text-decoration: none;
}

.padding-none i {padding: 0;}
.right {text-align: right;}

.form-login {
    text-align: center;
}
.form-login input {
    margin-top: 15px;
}
.form-login input[name="login"] {
    margin-bottom: 15px;
}

.products-all div.col-xs-offset-1.col-xs-10, .recipes-all div.col-xs-offset-1.col-xs-10 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.products-all div.col-xs-offset-1.col-xs-10:first-child, .recipes-all div.col-xs-offset-1.col-xs-10:first-child {
    margin-top: 10px;
}
.products-all div.col-xs-offset-1.col-xs-10:last-child, .recipes-all div.col-xs-offset-1.col-xs-10:last-child {
    margin-bottom: 10px;
}

.notification-count, .recipes-count, .product-count, .fridge-count, .cart-count {
    display: block;
    position: absolute;
    top: 30px;
    right: 15px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}